@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
<li>@Html.ActionLink("Profielen instellen", "Index", "Profile")
</li>
<li>@Html.ActionLink("Skos bronnen instellen", "Index", "SkosSourceRepository")
</li>
</ul>





